div(ng-if="user.info")
  h1 {{user.info.name}}

  .row
    .col-md-3
      .thumbnail
        img.img-responsive(ng-src="{{user.info.photo}}")
    .col-md-9
      ul.list-unstyled
        li(ng-repeat="(name, property) in user.info.about")
          b {{name}}: 
          | {{property}}
      button.editUser.btn.btn-default Edit profile

  a(href="/users") Return to user list


div(ng-if="user.info == undefined")
  h1 User not found
  a(href="/users") Return to user list